
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'core/youapps/css.html' %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  </head>
  <body>
    {% include 'core/youapps/nav.html' %}
    {% block content %}
    {% endblock %}


    {% include 'core/youapps/footer.html' %}

    {% include 'core/youapps/js.html' %}
    <script>
      AOS.init();
    </script>
  </body>
</html>
