{% extends 'core/youapps/base.html' %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% load tz%}


    {% block content %}
      <!-- Page Content -->
    <hr>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Frequently Asked Question
          <small>Secondary Text</small>
        </h1>
        <hr />

		<!-- Blog Posts -->
		{% for category in object_list %}
        <div class="m-3">{{ category.name }}</div>
        <div class="accordion" id="faqExample">

        </div>
		{% empty %}
			<h2>No match Category</h2>
    {% endfor %}

    {% comment %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      {% endcomment%}

      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
          	{% include "blog/youapps/sidebar.html" %}
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}
