{% extends "account/base.html" %}

{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
    <div class="col-12 py-5">
        <p class="text-center alert alert-warning"><i class="fas fa-exclamation-circle"></i> you are already logged in</p>
        <a href="{% url 'switch2voip:home' %}" class="btn btn-default">Continue Shopping</a>
    </div>
    {% else %}
    <h4 class="h4-responsive text-center mt-4">Password Reset</h4>
    <div class=" container mt-4 border">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset myform2 m-3">
        {% csrf_token %}
        <p class="mt-2">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
        {{ form.as_p }}
        <input type="submit" class="btn btn-sm btn-info" value="Reset My Password" />
        <a href="{% url 'users:login_signup' %}" class="btn btn-sm btn-danger">cancel</a>
        <p class="mt-2">Please contact us if you have any trouble resetting your password.</p>
    </form>
    </div>
    {% endif %}
{% endblock %}
