{% extends "account/base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="col-12 py-5">
        <p class="text-center alert alert-warning"><i class="fas fa-exclamation-circle"></i> you are already logged in</p>
        <a href="{% url 'shop:home' %}" class="btn btn-default">Continue Shopping</a>
    </div>
    {% else %}
    <h4 class="h4-responsive text-center mt-4">Change Password</h4>
    <div class=" container mt-4 ">
      <p class="mt-2 alert alert-success">Your password is now changed.</p>
      <a href="{% url 'users:login_signup' %}" class="btn btn-default">login</a>
    </div>

    {% endif %}
{% endblock %}
