{% extends "account/base.html" %}
{% load account %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="col-12 py-5">
        <p class="text-center alert alert-warning"><i class="fas fa-exclamation-circle"></i> you are already logged in</p>
        <a href="{% url 'switch2voip:home' %}" class="btn btn-default">Continue Shopping</a>
    </div>
    {% else %}
    <h4 class="h4-responsive text-center mt-4">Password Reset</h4>
    <div class=" container mt-4 ">
      <p class="mt-2 alert alert-success">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      <a href="{% url 'switch2voip:home' %}" class="btn btn-default">back to home</a>
    </div>

    {% endif %}
{% endblock %}
