{% extends "account/base.html" %}

{% block title %}
   Set Password
{% endblock %}

{% block content %}
    <h4 class="h4-responsive text-center mt-4">Set Password</h4>
    <div class=" container mt-4 border">
      <form method="POST" action="{% url 'account_set_password' %}" class="password_set myform2 m-3">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-sm btn-info" name="action" value="Set Password"/>
          <a href="{% url 'users:account_update' %}" class="btn btn-sm btn-danger">cancel</a>
      </form>
    </div>
{% endblock %}
